/* Custom styles for the Event Ticket System */

body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
  }
  
  footer {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }